/********************************************************************* 

Ficticious Product Page Assignment 
SU WATS1010, Fall 2015 - Sunny Yuen

**********************************************************************



01 defaults
02 typography
03 layout / modules
    a. general
    b. header
    c. navbar
    d. overview
    e. features
    f. form (contact)
    g. footer
04 media queries



/*  01 deaults
*********************************************************************/

@import url(https://fonts.googleapis.com/css?family=Monda|Titillium+Web:200,600|Quicksand);

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
article,
section,
p,
blockquote,
th,
td {  
    margin: 0; 
    padding: 0;
    list-style-type: none;
}


header {
    margin-bottom: 3rem;
}

p,
pre,
table,
blockquote, 
.container-form
  {
    margin-top: 1rem;  /**  multiple(s) of line-height **/  
    /**  omitted margin-bottom to allow margins from modules to dictate **/ 
}

li {
    display: inline-block;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
}

input,
button,
textarea {    
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* spec for percentage unit to prevent horizontal 
    scroll bar from showing up when the page is 
    resized to smaller than max-width*/    
  padding: 1rem 4%;  /* sets the padding needed for the placeholder text */
  outline: none;
  resize: none;
  width: 100%;
}



/*  02 typography
*********************************************************************/

body, 
button, 
input,
textarea {
    font: 100%/1.5 Quicksand, sans-serif;
    color: #555;
}

nav {
    color: #333;
}

h1,
h2,
h3,
h4,
.font-alpha,
.font-beta,
.font-gamma,
.font-delta { 
    line-height: 1.3;
    display: inline-block;
    margin: 0;   
}

.logo-slogan {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    margin-left: 0.5rem;
    margin-right: 0.5rem;  /* for centering */
    font-size: 75%;
}

.logo-API {
    font-size: 5.653rem;
    line-height: .7; 
    font-weight: 600;
    text-shadow: 5px 8px #70d0da;
}

.logo-superstore {
    font-size: 3.657rem;
    font-weight: 200;
    text-shadow: none;
}

h1, 
header,
.font-alpha {
    font-size: 2.369rem;
}

h2,
.font-beta {
    font-size: 1.777rem;
}

h3,
.font-gamma {
    font-size: 1.333rem;
}

h4,
.font-delta {
    font-size: 1rem;
    line-height: 1.5;
}

.credits,
small {
    font-size: 85%;
}

footer svg:hover path {
    fill: rgb(4, 196, 214);
}

footer svg path {
    fill: #999;
    
}

#features svg path {
    fill: #555; 
}

a:before {   /* this doesnt work on multi-line links */
    content: '';
    position: absolute;
    width: 100%;
    bottom: -.5rem;
    left: 0;
    border-bottom: solid 3px rgb(4, 196, 214); 
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a:link {
    position: relative;
    font-weight: bold; 
    color: #999;
    text-decoration: none;
}

/* visited */
a:visited {
    color: #999;
}

/* mouse over */
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(4, 196, 214);
}

    
/* selected */
a:active {
    color: rgb(4, 196, 214);
}


button {
  /* border:  1px solid rgb(4, 196, 214); */
  text-decoration: none;
  text-align: center;
  background: rgba(204, 204, 204, .7);
  border: none;    
  width: 100%;    
}

button:hover {
  background: rgba(4, 196, 214, .5);
  color: #fff;
  text-decoration: none; 
}



/* 03 layout / modules
*********************************************************************/


body {
    width: 100%;
    background-image: url(img/45degreee_fabric.png);
}

#overview,
#testimonials,
.container,
.page-container,
footer {
    max-width: 780px;
    /* centers content */
    margin: 0 auto;
    /* settting padding left/right when viewpoint is narrower than the content */
    padding: 4rem 2rem;
}

.page-container {
    padding: 4rem 2rem 1rem 2rem;  /* changes to the spacing needed to top/bottom */ 
}

.credits,
#page-header,
#features,
#contact {
    background-color: rgba(255, 255, 255, .6);
}

p.credits {     
    margin-top: 0;
}

/* page header */

#page-header {
    border-bottom: 1px solid #ccc;
}


/* nav bar */

nav ul {
    display: inline-block;
}

nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 2rem;
}

.nav-anachors li {
    margin-right: 2rem;
}

.nav-anachors {
    flex: 3 auto;
}

.nav-functions li {
    margin-left: 2rem;
}
.nav-functions {
    flex: 1 auto;
    text-align: right;
}


/* overview */

.overview-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.overview-text {
    flex: 1 40%;
    align-self: flex-end;
    margin-right: 2rem;
}

.overview-video {
    flex: 1 60%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* features */

.container-features {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
}

.feature {
    padding: 2rem;
    flex: 1 25%;
    text-align: center;
    align-self: flex-end;
}

svg.feature-1 {
        width: 52.5%;
        height: auto;
}

svg.feature-2 {
        width: 76%;
        height: auto;
}


/* form */

.container-form {
    width: 92.5%;
}

.container-form input {
    margin-bottom: 2rem;
}


.container-form  textarea {
    margin-bottom: 2rem;
    outline: none;
    resize: none;
    overflow: auto;
}


/* footer */

footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
}

.footer-links {
    flex: 1 30%;
    align-self: flex-end;
}

.footer-info {
    flex: 3 70%;
    align-self: flex-end;
    padding-left: 2rem;
    border-left: 1px solid #ccc;
    
}

ul.footer-co-info li {
    display: inline-block; 
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.footer-info li {
    display: block;  
}

.footer-links > ul > li {
    display: block;
    margin-bottom: 1rem;
}

.footer-links {
    padding-right: 2rem;
}

.credits {
    text-align: center;
    padding: 1rem 2rem;
}



/* media queries 
************************************************************************/

@media (max-width: 802px) {  /* overview */
    
    .overview-container {
    flex-flow: column-reverse wrap;
    }

    .overview-text {
    flex: 1 100%;
    margin: 0;
    padding-top: 2rem;
    text-align: center;    
    }

    .overview-video {
    flex: 1 100%;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    .overview-text button {
        width: 60%;
    }

}

@media (max-width: 781px) {  /* features */
    
    header,
    #features p:last-child,
    #testimonials {
        text-align: center;
    }
    
    .container-features {
        flex-wrap: wrap;    
    }
    
    .feature {
        flex: 1 25%;
    }
    
    svg.feature-1 {
        width: 20%;
        height: auto;
    }

    svg.feature-2 {
        width: 28%;
        height: auto;
    }
    
    svg.feature-3 {
        width: 30%;
        height: auto;
    }

    svg.feature-4 {
        width: 30%;
        height: auto;
    }

}

@media (max-width: 638px) {  /* features */
    
     html {
        font-size: 90%; /* shrinks all fonts down to scale */
    }   
}

@media (max-width: 601px) {  /* footer */
    
    footer {
        flex-wrap: wrap-reverse; 
    }

    .footer-links {
        flex: 1 100%;
        padding: 2rem 0 0 0;
        margin: 0;
        border-top: 1px solid #ccc;
        text-align: center;
    }
    
    .footer-info {
        flex: 1 100%;
        border: none;
        margin: 0;
        padding: 0 0 2rem 0;
    }
    
     ul.footer-co-info li {
        border: 0;
        margin: 0 0 2rem 0;
        display: block;
        text-align: center;
    }
    
    .footer-links button {
        width: 40%;
    }
    
}

@media (max-width: 576px) {  /* features */
    
     .feature {
        flex: 1 50%;
    }
    
    svg.feature-1 {
        width: 15%;
        height: auto;
    }

    svg.feature-2 {
        width: 23%;
        height: auto;
    }
    
    svg.feature-3 {
        width: 25%;
        height: auto;
    }

    svg.feature-4 {
        width: 25%;
        height: auto;
    }
    
}

@media (max-width: 447px) {  /* features */
 
    .logo-slogan {
        font-size: 60%;
    }
    
    .logo-superstore {
        position: relative;
        top: -1.5rem;
    }
    
    .logo-API {
        position: relative;
        top: -.2rem;
    }
}